<div class="row">
				<main class="col-md-12">
					<!-- Start your code here -->
					<br><br><br><br>
					<div class="intro">
						Greetings! We are thrilled to have you on our page. Our aim is to provide a warm, professional and informative experience to every visitor and we hope you find the information and resources you are looking for. If you have any questions or need further assistance, please don't hesitate to reach out. Thank you for visiting!
					</div>


					
					
					<br><br><br><br>

					<h1>About Me</h1>
					<p>My name is Roqeeb Yahaya and I am proud to be a student with a student ID of bryahaya. I am currently enrolled in the highly reputable and challenging web 700 program. As a student of this field, I am constantly seeking new opportunities to enhance my knowledge and gain practical experience. I am determined to make the most of my time in this program and I am committed to reaching my full potential as a computer science and engineering professional. Throughout my academic journey, I have developed a strong work ethic and a passion for problem solving and innovation. I am confident that my skills and drive will enable me to make a valuable contribution to the field and I am eager to take on new challenges and opportunities as they arise.</p>
					
					
					<!-- End your code here  -->



				</main>
			</div>